:root {
  --main-color: #ff8000;
  --secondary-color: #efedea;
  --terciary-color: #f7f4ef;
  --promo-purple: #5b3d5b;
  --promo-orange: #ff5c00;
  --promo-pink: #ffbebe;
  --promo-caki: #ffb061;
  --promo-violet: #d1cadf;
  --promo-rose: #ffe5cd;
  --promo-yellow: #ffc700;
  --searcher: #ebebeb;
}
